@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.blog-content {
  @apply leading-relaxed text-gray-900;
}

.blog-content h2 {
  @apply text-2xl font-bold;
}

.blog-content p {
  @apply text-lg text-gray-900;
}

.blog-content ul {
  @apply text-lg list-disc list-inside text-gray-900;
}

.blog-content li {
  @apply ml-4;
}

.blog-content li ul {
  list-style-type: circle;
}

.blog-content ol {
  @apply text-lg list-decimal list-inside;
}
